{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    {% if listing.Active == True %}
        <div>
            <div>
                <img src="{{ listing.Image }}" alt="{{ listing.Title }}">
            </div>
            <a href="{% url 'listing' listing.id %}">
                <div>
                    <h3>{{ listing.Title }}</h3>
                    <p>Price: {{ listing.CurrentBid }} </p>
                    <p> {{ listing.Description }} </p>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}