{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ listing.Title }}</h2>

<div>
    <div>
        <img src="{{ listing.Image }}" alt="{{ listing.Title }}">
    </div>
    <div>
        <h4> {{ listing.Description }} </h4>
        <h4> {{ listing.Category }} </h4>
        <h5> {{ listing.CurrentBid }} </h5>
        {% if error %}
            <h5>{{ error }}</h5>
        {% endif %}
        {% if listing.Active == False %}
            {% if listing.Winner == request.user %}
            <h1>You won!!</h1>
            {% elif listing.Owner == request.user %}
            <h1>Enter in contact with {{ listing.Winner }}, who has won the bid.</h1>
            {% else %}
            <h1>Somebody outbidded you, better luck next time! </h1>
            {% endif %}
        {% endif %}
        {% if listing.Owner == request.user and listing.Active == True %}
            <form action="{% url 'endlisting' listing.id%}">
                <input type="submit" value="End Bidding">
            </form>
        {% elif listing.Active == True and request.user.is_authenticated %}
            {% if message%}
                {{ message }}
            {% endif %}
            <form action="{% url 'watchlistToggle' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% if listing in request.user.Watchlist.all %}Remove from watchlist{% else %}Add to watchlist{% endif %}">
            </form>
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Bid" name="bid">
                <input type="submit" value="Place Bid">
            </form>
        {% endif %}
        {% if comments %}
            <h3>Comments:</h3>
            <ul>
            {% for comment in comments %}
                <li><b>{{ comment.Comenting.username }}</b>: {{ comment.Content }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <form action="{% url 'commenting' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Comment" name="comment">
            <input type="submit" value="Send">
        </form>
        {% endif %}
    </div>

</div>

{% endblock %}